body {
    font-family: 'Droid Sans', 'Arial', sans-serif;
}

/* header section - includes logo and nav bar */
#topwrapper {
    padding: 0 30px;
}
/* nav bar */
#header ul{
    list-style-type: none;
    color: rgb(121, 119, 119)
}

#header li{
    display: inline;
    margin-right:20px;
}