<div id = "lside">

<a href="http://instagram.com/rducky26?ref=badge" title="@rducky26"><img src="http://tmxoxo.github.io/blog/media/instagram.png" alt="Instagram" /></a> <a href="https://www.facebook.com/pages/Nandi-Vendettuoli-Hoagland/468590923285271" title="Nandi Vendettuoli-Hoagland" target="_TOP"><img class="img" src="http://tmxoxo.github.io/blog/media/facebook.png" style="border: 0px;" alt="" /></a>
<iframe src="http://www.intagme.com/in/?u=cmR1Y2t5MjZ8aW58MTUwfDF8M3x8bm98NXx1bmRlZmluZWR8eWVz" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:155px; height: 465px" ></iframe>  
</div>
