<div id = "topwrapper">
    <div id = "logo"></div>
    <div id = "header">
        <ul>
            <li><a href = "http://tmxoxo.github.io/blog">Home</a></li>
            <li><a href = "http://tmxoxo.github.io/blog/about.html">About Us</a></li>
            <li><a href = "http://tmxoxo.github.io/blog/search.html">Search</a></li>
            <li><a href = "http://tmxoxo.github.io/blog/subscribe.html">Subscribe</a></li>
            <li><a href = "http://tmxoxo.github.io/blog/wed.html">Wedding Deets</a></li>
            <li>Contact</li>
        </ul>
    </div>
</div>
